
<img src={{svg}}></img>
<p><span class="category">Name:</span>{{official}}</p>
<p><span class="category">Capital:</span>{{capitCity}}</p>
<p><span class="category">Population:</span>{{population}}</p>
<p><span class="category">Languages:</span>{{lingos}}</p>

